

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            
            <span class="login100-form-title p-b-30">
                Dashboard
            </span>

            <p>Esta página solo funciona si estás autenticado</p>

            <h4>Información de Usuario</h4>
            <pre>{{ usuario | json }}</pre>
            <br><br><br>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn"
                            (click)="logout()">
                        Logout
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>